<div class="home">
  <h1> The Incredible Job Application Application</h1>
  <div class="background">
  <p style="font-size:18px; margin-bottom:25px">Currently, you can either:</p>
  <p>
    <a class ="btn btn-primary" href="/applicants/new">Submit Application</a>
    <span style="font-size:18px;">or</span>
    <a class="btn btn-primary" href="/applicants/">View Applicants</a>
  </p>
<!--  <script type="text/javascript">
    $('.show-user').click(function() {
      $('.usefsdr-view').toggle(300);
    })
    $('.show-admin').click(function() {
      $('.admin-view').toggle(300);
    })
  </script> -->

  <!-- <div class="user-view">
    <h1>User View - Submit Job Application</h1>

    <h2>Personal Information</h2>
    <input type='text' id='firstName' placeholder='First Name'>
    <input type='text' id='lastName' placeholder='Last Name'>
    <input type='text' id='email' placeholder='Email Address'>

    <h2>Answer these three questions</h2>
    <label for='answer1'>What's the coolest problem you've solved that's applicable to the role you'd like to have with FoodLogiQ? Why should we think it's cool, too?</label>
    <input type='text' id='answer1' placeholder='Answer Here'>
    <label for='answer2'>Describe the environment that would exist at your dream job.  The culture, people, office, tools, etc.  whatever details you think would make it awesome.  Don't worry about trying to describe us so we think you think we're your dream employer;  we're more interested in you, not us.</label>
    <input type='text' id='answer2' placeholder='Answer Here'>
    <label for='answer3'>What design and development assumptions and decisions went into your solution for Step 1?</label>
    <input type='text' id='answer3' placeholder='Answer Here'>
    <input type='submit' id='submit' value='Submit Application'>
  </div>


  <div class="admin-view">
    <h1>Admin View - View Job Application</h1>
  </div> -->

  </div> <!-- /background -->
</div>