<h1>Editing applicant</h1>
  <div class="background">
<%= render 'form' %>

<%= link_to 'Show', @applicant, class:'btn btn-success' %> &nbsp;
<%= link_to '< Back', applicants_path, class:'btn btn-warning' %>
</div>