/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
/* Burger King was oddly my inspiration in this design */
h1 {
     font-weight: bold;
     font-size: 45px;
     text-transform: uppercase;
     text-shadow: 2px 2px 0px #999;
     color: #fff !important;
     margin-top:0 !important;
}
header {

}
body {
     background: url('http://www.bkcareers.com/images/body-bg-ordinary.jpg');
}
.container {
     padding: 15px 20px 20px 20px;
     -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
     border-radius: 5px;
     background: rgba(255, 255, 255, 0.2);
     -webkit-box-shadow: 0 0 1px 0px #999;
     box-shadow: 0 0 1px 0px #999;
     overflow: auto;
}
.background {
     padding:10px;
     background: rgba(255, 255, 255, 0.8);
     min-height:150px;
}
.form-actions {
     padding: 5px 15px 15px 0 !important;
     margin-top:10px !important;
     background:none !important;
     border-top:none !important;
     border-bottom:2px solid #e5e5e5;
}
.form-actions .btn{
     float:right;
}
.show-user, .show-admin {
     cursor:pointer;
     font-size:26px;
     font-weight:bold;
     margin-left:25px;
     color:blue;
}
.admin-view {
  display:none;
}
.user-view {
  display:none;
}
.control-group.applicant_first_name, .control-group.applicant_last_name,
.control-group.applicant_email {
     float:left;
     width:32%;
}
.form-inputs textarea {
     width:75%;
     height:75px;
}
a.btn {
     color:white !important;
}
.question-container {
     padding-top:10px;
     border-top:1px solid #e7e7e7;
     clear:both;
}
.home {
     text-align:center;
}
.home a {
     font-size:18px;
     margin:0 20px;
     padding:10px 15px;
}
.home .background {
     min-height: 120px;
}
.use-cases p {
     font-size:18px; margin-bottom:25px
}
.use-cases {
     display:inline-block;
     line-height:60px;
}
.use1 {
     width:44%;
}
.use2 {
     width:55%;
     border-left:1px solid #e5e5e5;
}
.table {
     border:1px solid #e7e7e7;
     margin-bottom:10px !important;
}
.table-hover tbody tr:hover > td, .table-hover tbody tr:hover > th {
     background-color: #F3EEDE !important;
}
p strong {
     display:block;
}
p.question-warning {
     color: red;
     font-style: italic;
     padding-left: 25px;
     margin:10px 0;
}